@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #f0f0f0;
    padding:54px 0 54px 0;
    text-align: center;
    
}
.hero img{
    width: 200px;
}

.hero h1{
    color: white;
    font-family: consolas;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;

}

.hero .version{
    font-family: consolas ;
    margin: auto;
    border-radius: 10px;
    color: #393946;
    font-size: 14px;
    padding: 6px;
    background-color: #DBDBDB;
    max-width: 100px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
}
.hero .made , a:active, a:visited{
    font-family: consolas;
    color: rgb(65, 65, 65);
    font-size: 16px;
    display: block;
}

.content{
    font-family: 'Roboto', sans-serif;
    margin: 56px auto;
    width: 50vw;
    color: #151521 ;
}
.content h2{
    font-family: 24px;
    font-weight: 500;
    margin: 12px 0 ;
}
.content p{
    line-height: 24px;
}
table{
    border-spacing: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

td, tr{
    border: solid rgb(216, 216, 216) 1px;
    font-weight: 500;
    padding:12px;
    text-align: center;
    transition: 0.2s;
}

td:hover{
    color: #151521;
    background-color:#15152136;
    transition: 0.2s;

}
.main-title{
    color: #0084FF;
    
}